<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>x</key>
		<integer>353</integer>
		<key>y</key>
		<integer>135</integer>
	</dict>
	<key>1</key>
	<dict>
		<key>x</key>
		<integer>561</integer>
		<key>y</key>
		<integer>265</integer>
	</dict>
	<key>2</key>
	<dict>
		<key>x</key>
		<integer>193</integer>
		<key>y</key>
		<integer>407</integer>
	</dict>
	<key>3</key>
	<dict>
		<key>x</key>
		<integer>342</integer>
		<key>y</key>
		<integer>1093</integer>
	</dict>
	<key>4</key>
	<dict>
		<key>x</key>
		<integer>170</integer>
		<key>y</key>
		<integer>756</integer>
	</dict>
	<key>5</key>
	<dict>
		<key>x</key>
		<integer>625</integer>
		<key>y</key>
		<integer>606</integer>
	</dict>
	<key>6</key>
	<dict>
		<key>x</key>
		<integer>625</integer>
		<key>y</key>
		<integer>666</integer>
	</dict>
	<key>7</key>
	<dict>
		<key>x</key>
		<integer>625</integer>
		<key>y</key>
		<integer>755</integer>
	</dict>
	<key>8</key>
	<dict>
		<key>x</key>
		<integer>625</integer>
		<key>y</key>
		<integer>844</integer>
	</dict>
	<key>9</key>
	<dict>
		<key>x</key>
		<integer>625</integer>
		<key>y</key>
		<integer>911</integer>
	</dict>
	<key>10</key>
	<dict>
		<key>x</key>
		<integer>555</integer>
		<key>y</key>
		<integer>911</integer>
	</dict>
	<key>11</key>
	<dict>
		<key>x</key>
		<integer>490</integer>
		<key>y</key>
		<integer>911</integer>
	</dict>
	<key>12</key>
	<dict>
		<key>x</key>
		<integer>397</integer>
		<key>y</key>
		<integer>841</integer>
	</dict>
	<key>13</key>
	<dict>
		<key>x</key>
		<integer>397</integer>
		<key>y</key>
		<integer>841</integer>
	</dict>
	<key>14</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>15</key>
	<dict>
		<key>x</key>
		<integer>625</integer>
		<key>y</key>
		<integer>102</integer>
	</dict>
	<key>16</key>
	<dict>
		<key>x</key>
		<integer>165</integer>
		<key>y</key>
		<integer>102</integer>
	</dict>
	<key>17</key>
	<dict>
		<key>x</key>
		<integer>165</integer>
		<key>y</key>
		<integer>184</integer>
	</dict>
	<key>18</key>
	<dict>
		<key>x</key>
		<integer>165</integer>
		<key>y</key>
		<integer>322</integer>
	</dict>
	<key>19</key>
	<dict>
		<key>x</key>
		<integer>165</integer>
		<key>y</key>
		<integer>355</integer>
	</dict>
	<key>20</key>
	<dict>
		<key>x</key>
		<integer>165</integer>
		<key>y</key>
		<integer>487</integer>
	</dict>
	<key>21</key>
	<dict>
		<key>x</key>
		<integer>165</integer>
		<key>y</key>
		<integer>639</integer>
	</dict>
	<key>22</key>
	<dict>
		<key>x</key>
		<integer>165</integer>
		<key>y</key>
		<integer>798</integer>
	</dict>
	<key>23</key>
	<dict>
		<key>x</key>
		<integer>165</integer>
		<key>y</key>
		<integer>913</integer>
	</dict>
	<key>24</key>
	<dict>
		<key>x</key>
		<integer>263</integer>
		<key>y</key>
		<integer>914</integer>
	</dict>
	<key>25</key>
	<dict>
		<key>x</key>
		<integer>392</integer>
		<key>y</key>
		<integer>82</integer>
	</dict>
	<key>26</key>
	<dict>
		<key>x</key>
		<integer>392</integer>
		<key>y</key>
		<integer>82</integer>
	</dict>
	<key>27</key>
	<dict>
		<key>x</key>
		<integer>397</integer>
		<key>y</key>
		<integer>841</integer>
	</dict>
</dict>
</plist>
