<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>name</key>
		<string>停车场</string>
		<key>image</key>
		<string>park.png</string>
		<key>info</key>
		<string>another point</string>
		<key>x</key>
		<integer>250</integer>
		<key>y</key>
		<integer>750</integer>
		<key>belongto</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>宴会厅</string>
		<key>image</key>
		<string>rest.png</string>
		<key>info</key>
		<string>another point</string>
		<key>x</key>
		<integer>300</integer>
		<key>y</key>
		<integer>580</integer>
		<key>belongto</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<key>2</key>
	<dict>
		<key>name</key>
		<string>报告厅</string>
		<key>image</key>
		<string>meeting.png</string>
		<key>info</key>
		<string>another point</string>
		<key>x</key>
		<integer>300</integer>
		<key>y</key>
		<integer>280</integer>
		<key>belongto</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<key>3</key>
	<dict>
		<key>name</key>
		<string>展示板</string>
		<key>image</key>
		<string>arrow.png</string>
		<key>info</key>
		<string>another point</string>
		<key>x</key>
		<integer>80</integer>
		<key>y</key>
		<integer>547</integer>
		<key>belongto</key>
		<array>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<key>4</key>
	<dict>
		<key>name</key>
		<string>视频展示</string>
		<key>image</key>
		<string>arrow.png</string>
		<key>info</key>
		<string>another point</string>
		<key>x</key>
		<integer>80</integer>
		<key>y</key>
		<integer>276</integer>
		<key>belongto</key>
		<array>
			<integer>2</integer>
			<integer>1</integer>
		</array>
	</dict>
</dict>
</plist>
