<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>name</key>
		<string>厕所 距离60米</string>
		<key>image</key>
		<string>toilet.png</string>
		<key>info</key>
		<string>another point</string>
		<key>x</key>
		<integer>706</integer>
		<key>y</key>
		<integer>102</integer>
		<key>belongto</key>
		<array>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
		</array>
	</dict>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>电梯 距离80米</string>
		<key>image</key>
		<string>lift.png</string>
		<key>info</key>
		<string>another point</string>
		<key>x</key>
		<integer>100</integer>
		<key>y</key>
		<integer>700</integer>
		<key>belongto</key>
		<array>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
		</array>
	</dict>
</dict>
</plist>
